body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.container.container-images {
  margin-top: 50px;
}

.container.container-uploader {
  margin-top: 50px;
}

.logo {
  width: 8%;
}