body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.container.container-images {
  margin-top: 50px;
}

.container.container-uploader {
  margin-top: 50px;
}

.container.container-form-edit {
  width: 600px;
  margin-top: 50px;
}

.container.container-form-edit .row.row-buttons {
  display: block;
  text-align: center;
}

.form-edit-marktext {
  font-size: 0.8em;
}

.logo {
  width: 8%;
}

.btn.btn-outline-danger.btn-sm {
  float: right;
}

.btn.btn-outline-warning.btn-sm {
  float: left;
}

.img-fire-notification {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.btn-back {
  margin: auto;
}